<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">-->
<head>
    <meta charset="UTF-8">
    <title>Новый человек</title>
</head>
<body>
    <form th:method="POST" th:action="@{/people}" th:object="${person}">

        <label for="name">Enter Name</label>
<!--                                 * Для имени поля      -->
        <input type="text" th:field="*{name}" id="name"/>
        <!--        ${#Fields } Доступ ко всем полям внедренного  th:object="${person}"
             th:errors="*{name} -> сообщение об ошибке, указанное в валидации данного поля в классе                                      -->
        <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div>
        <br/>
        <br/>


        <label for="age">Enter Age</label>
        <input type="text" th:field="*{age}" id="age"/>
        <div style="color:red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Name Error</div>
        <br/>
        <br/>

        <label for="email">Enter email</label>
        <input type="text" th:field="*{email}" id="email"/>
        <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Name Error</div>
        <br/>
        <br/>
        <hr/>

        <input type="submit" value="Create!"/>


    </form>

</body>
</html>